/**
 * Typography
 */

/* ~~~~~~~~~~ HTML ~~~~~~~~~~ */

:root {
  font-size: 100%;
}

/* ~~~~~~~~~~ Body ~~~~~~~~~~ */

body {
  font-size: 1.0625rem;
  line-height: 1.4117;
  color: $black;
  font-family: "Gliroy", sans-serif;
  min-width: 320px;

  @media only screen and (min-width: $md) {
    font-size: 1.125rem;
    line-height: 1.5555;
  }

  @media only screen and (min-width: $lg) {
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/* ~~~~~~~~~~ Headlines ~~~~~~~~~~ */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 1.5rem;
  font-weight: $fw-bold;
}

h1,
.h1 {
  font-size: 2.375rem;
  line-height: 1.25;

  @media only screen and (min-width: $md) {
    font-size: 3.4375rem;
    line-height: 1.2727;
  }

  @media only screen and (min-width: $lg) {
    font-size: 4.0625rem;
    line-height: 1.2153;
  }
}

h2,
.h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 0.9375rem;

  @media only screen and (min-width: $md) {
    font-size: 2.375rem;
    line-height: 1.2631;
  }

  @media only screen and (min-width: $xxl) {
    font-size: 4.0625rem;
    line-height: 1.2615;
  }
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.25;

  @media only screen and (min-width: $md) {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
h4,
.h4 {
  font-size: 1.625rem;
  line-height: 1.2307;
  margin-bottom: 1.125rem;
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: 0;

  @media only screen and (min-width: $md) {
    font-size: 1.5rem;
    line-height: 1.6666;

    }
  }

h6,
.h6 {
  font-size: 1.0625rem;
  line-height: 1.3125;
  margin: 0;
}

/* ~~~~~~~~~~ Text elements ~~~~~~~~~~ */

b,
strong {
  font-weight: $fw-bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 1rem 0 0;
}
