/**
 * Social links
 */

.social-icons {
  margin: 0 0 2rem;

  &__item {
    margin-right: 2.3125rem;

    &:last-child {
      margin-right: 0;
    }

    @media only screen and (min-width: $md) {
      margin-right: 1.875rem;
    }
  }
}
